[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Systemback scheduler daemon
Exec=/usr/share/systemback/sbstart schedulerdaemon
Type=Application
Icon=systemback
Terminal=false
NoDisplay=true
