[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Systemback scheduler daemon
Exec=sudo -nH /usr/lib/systemback/sbscheduler
Type=Application
Icon=systemback
Terminal=false
OnlyShowIn=KDE;
NoDisplay=true
