[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Systemback
Comment=Simple system backup and restore application with extra features.
Comment[hu]=Egyszerű rendszermentő és visszaállító alkalmazás további extra funkciókkal.
Exec=kdesu systemback-gtk --comment "Systemback user authentication"
Type=Application
Icon=systemback
Terminal=false
OnlyShowIn=KDE;
Categories=System;
Actions=Systemupgrade;Textoutput;

[Desktop Action Systemupgrade]
Name=System upgrade
Name[hu]=Rendszerfrissítés
Exec=gksu "xterm +sb -bg grey85 -fg grey25 -fa a -fs 9 -geometry 80x24+80+70 -n 'System upgrade' -T 'System upgrade' -cr grey40 -selbg grey86 -bw 0 -bc -bcf 500 -bcn 500 -e 'systemback -u unity'" --message "Systemback user authentication"
Exec[hu]=gksu "xterm +sb -bg grey85 -fg grey25 -fa a -fs 9 -geometry 80x24+80+70 -n 'Rendszerfrissites' -T 'Rendszerfrissites' -cr grey40 -selbg grey86 -bw 0 -bc -bcf 500 -bcn 500 -e 'systemback -u unity'" --message "Systemback user authentication"
OnlyShowIn=Unity;

[Desktop Action Textoutput]
Name=Open with text output window
Name[hu]=Megnyitás szöveges kimeneti ablakkal
Exec=gksu "xterm +sb -bg grey85 -fg grey25 -fa a -fs 9 -geometry 80x24+80+70 -n 'Systemback text output' -T 'Systemback text output' -cr grey40 -selbg grey86 -bw 0 -bc -bcf 500 -bcn 500 -e 'tput bold ; echo -e \"\n Welcome to the Systemback text output window!\n\" ; tput sgr0 ; GB_GUI=gb.gtk /usr/share/systemback/systembackgui nodebug'" --message "Systemback user authentication"
Exec[hu]=gksu "xterm +sb -bg grey85 -fg grey25 -fa a -fs 9 -geometry 80x24+80+70 -n 'Systemback szoveges kimenet' -T 'Systemback szoveges kimenet' -cr grey40 -selbg grey86 -bw 0 -bc -bcf 500 -bcn 500 -e 'tput bold ; echo -e \"\n Üdvözöl a Systemback szöveges kimenetének az ablaka!\n\" ; tput sgr0 ; GB_GUI=gb.gtk /usr/share/systemback/systembackgui nodebug'" --message "Systemback user authentication"
OnlyShowIn=Unity;
