[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Systemback
Comment=Simple system backup and restore application with extra features.
Exec=kdesu systemback-gtk --comment "Systemback user authentication"
Type=Application
Icon=systemback
Terminal=false
OnlyShowIn=KDE;
Categories=System;
