#!/usr/bin/make -f

build: build-stamp

build-stamp:
	gbc3 -a gui
	gba3 gui
	mv gui/gui.gambas gui/systembackgui
	gbc3 -a cli
	gba3 cli
	mv cli/cli.gambas cli/systemback
	gcc -fPIC -c systemback.c
	gcc -shared -Wl,-soname,systemback.so -o systemback.so systemback.o
	strip --strip-unneeded systemback.so
	touch build-stamp

clean:
	rm -rf build-stamp gui/systembackgui cli/systemback systemback.o systemback.so
	find . -name .gambas -print0 | xargs -0r rm -rf
	find . -name .startup -delete
	dh_clean

binary-indep: build
	dh_install -i
	dh_link -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_compress -i
	dh_builddeb -i

binary-arch: build
	dh_install -a
	dh_installman debian/systemback.1 -p systemback -a
	dh_link -a
	dh_fixperms -a
	find debian/systemback/etc/sudoers.d/99_systemback ! -perm 440 -print0 | xargs -0r chmod 440 -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_installdocs -a
	dh_installchangelogs -a
	dh_compress -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary
